:root {
    --dust-grey: #CDC4B9;
    --copper: #A0703B;
    --blood-red: #91090F;
    --deep-space-blue: #003049;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    color: var(--texte-fonce);
    background-color: #ffffff;
}

.h2-bleu {
    color: var(--deep-space-blue);
}

a {
    text-decoration: none;
}
.skip-link {
    position: absolute;
    left: -999px;
    top: 0;
    padding: .5rem 1rem;
    background: #000;
    color: #fff;
    z-index: 1000;
}

.skip-link:focus {
    left: 0.5rem;
    top: 0.5rem;
}

.hero-img {
    max-height: 40vh;
    object-fit: cover;
    object-position: center;
}

.card-placeholder {
    background-color: var(--dust-grey);
    border-radius: 1.25rem;
    border: none;
    padding: 2.5rem 1.5rem;
    text-align: center;
    color: var(--deep-space-blue);
}

.btn-alpaga {
    background-color: var(--blood-red);
    border: none;
    color: var(--dust-grey);
    border-radius: 2rem;
    padding: 1em;
}

.btn-alpaga:hover,
.btn-alpaga:focus {
    background-color: var(--dust-grey);
    color: var(--blood-red);
}

.image-block {
    min-height: 260px;
    border-radius: 1.25rem;
    background-color: var(--deep-space-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

footer {
    background-color: var(--dust-grey);
    font-size: 0.9rem;
}

.nav-utilitaire {
    color: var(--deep-space-blue);
}

footer li:hover {
    text-decoration: underline;
    color: var(--dust-grey);
}

.partner-logo {
    background-color: transparent;
    border-radius: 0.5rem;
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease, filter 0.2s ease;
  }
  
.partner-logo img {
    max-height: 60px;
    object-fit: contain;
}
  
.partner-logo:hover {
transform: scale(1.05);
filter: brightness(1.1);
}

.section-troupeau {
    background-color: var(--deep-space-blue);
    color: var(--dust-grey);
    text-align: right;
}

.mission {
    background-color: var(--dust-grey);
}

.card-mission {
    background-color: var(--copper);
    color: var(--dust-grey);


}
  